<div class="wrapper">
  <div class="button-new">
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "button bigger" %>
  </div>
  <div class="container">
    <h1 style="color: #fff;">Cocktails</h1>
    <% @cocktails.each do |c| %>
      <div class="card-back col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                 url('<%= cl_image_path c.photo, height: 300, width: 400, crop: :fill %>')">
          <h2>
            <%= c.name %>
          </h2>
          <ul class="list-inline">
            <% c.doses.each do |d| %>
              <li><%= d.ingredient.name %>: </li>
              <li><%= d.description %></li>
            <% end %>
          </ul>
          <div class="card-description">
                <%= link_to "See cocktail", cocktail_path(id: c.id), class: "button" %>
                <%= link_to "Delete", cocktail_path(id: c.id), method: :delete, class: "button" %>
          </div>
          <div class="card-link">

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

